<div id="header" class="header-logo-app header-dark">
  <a href="javascript:void(0)" class="header-title back-button">Requisitos para la Alta</a>
  <a href="javascript:void(0)" class="header-logo disabled"></a>
  <ion-back-button (click)="close()" icon="arrow-dropleft" text=""></ion-back-button>  
</div>  


<ion-content>
  <div class="content">
        <div class="full-top">&nbsp;</div>
        <div>
            <h3>Para dar de alta a un nuevo empleado, es necesario contar con los siguientes datos:</h3>
            <ul>
                <li>Datos personales del empleado (Nombre, apellidos, dirección, etc…)</li>
                <li>Correo electrónico del empleado</li>
                <li>Domicilio del empleado</li>
                <li>Número de seguro social</li>
                <li>Identificación Oficial del empleado</li>
            </ul>
            <div class="formSubmitButtonErrorsWrap contactFormButton"  style="white-space: nowrap;">
              <button type="button" class="button button-rounded button-pink button-50" (click)="close()">Regresar</button>
              <button type="button" class="button button-rounded button-green button-50" (click)="alta()">Continuar</button>
            </div>
        </div>
      </div>
</ion-content>