<div id="header" class="header-logo-app header-dark">
  <a href="javascript:void(0)" class="header-title back-button">Consultar NSS</a>
  <a href="javascript:void(0)" class="header-logo disabled"></a>
  <ion-back-button (click)="close()" icon="arrow-dropleft" text=""></ion-back-button>  
</div>  

<ion-content>
  <div class="content">
        <div class="full-top">&nbsp;</div>
        <iframe name="nss" id="nss" src="" style="width:100%; height:80vh;"></iframe>
      </div>
</ion-content>