<div id="header" class="header-logo-app header-dark">
  <a href="javascript:void(0)" class="header-title back-button">{{plan.nombre}}</a>
  <a href="javascript:void(0)" class="header-logo disabled"></a>
  <ion-back-button (click)="close()" icon="arrow-dropleft" text=""></ion-back-button>  
</div>  


<ion-content>
  <div class="content">
        <div class="full-top">&nbsp;</div>
        <div [innerHtml]="plan.informacion_contrato">
          
        </div>
      </div>
      
      <ion-button color="primary" expand="full" size="medium" (click)="close()">Cerrar</ion-button>
</ion-content>