<div id="header" class="header-logo-app header-dark">
  <a href="javascript:void(0)" class="header-title back-button">Actualización de datos</a>
  <a href="javascript:void(0)" class="header-logo disabled"></a>
  <ion-back-button (click)="close()" icon="arrow-dropleft" text=""></ion-back-button>  
</div>  


<ion-content>
  <div class="content">
    <div class="full-top">&nbsp;</div>
    <div class="container heading-style">
      <i class="fa fa-envelope heading-icon color-night-dark font-17"></i>
          <h4 class="heading-title">Actualización de información del patrón</h4>
          <p class="heading-subtitle">
            Necesitamos estos datos para poder realizar el servicio.
          </p>
    </div>
    <div class="container no-bottom">
      <div class="contact-form no-bottom">                        
        <form (ngSubmit)="register()">
            <div class="input-simple-1 has-icon input-green full-bottom">
              <em>Nombre completo</em>
              <i class="fa fa-user color-black"></i>
              <ion-input type="text" [(ngModel)]="data.nombre" name="nombre" placeholder="Nombre Completo del Patrón *"></ion-input>
            </div> 
            
            <div class="input-simple-1 has-icon input-green full-bottom">              
              <em>Domicilio</em>
              <i class="fas fa-home color-black"></i>
              <ion-input type="text" [(ngModel)]="data.domicilio" name="domicilio" placeholder="Domicilio"></ion-input>
            </div> 
            
            <div class="input-simple-1 has-icon input-green full-bottom">
              <em>Código Postal</em>
              <i class="fas fa-map-marker color-black"></i>
              <ion-input type="text" [(ngModel)]="data.cp" name="cp" placeholder="Código Postal"></ion-input>
            </div> 
            
            <div class="input-simple-1 has-icon input-green full-bottom">
              <em>Nombre o Razón Social</em>
               <i class="fas fa-clipboard color-black"></i>
              <ion-input type="text" [(ngModel)]="data.razon_social" name="razon_social" placeholder="Nombre o Razón Social *"></ion-input>
            </div> 
            
            <div class="input-simple-1 has-icon input-green full-bottom">
              <em>Dirección</em>
             <i class="fas fa-building color-black"></i>
              <ion-input type="text" [(ngModel)]="data.direccion" name="direccion" placeholder="Dirección Fiscal"></ion-input>
            </div>
            
            <div class="input-simple-1 has-icon input-green full-bottom">
              <em>RFC</em>
               <i class="fas fa-address-book color-black"></i>
              <ion-input type="text" [(ngModel)]="data.rfc" name="rfc" placeholder="RFC"></ion-input>
            </div>            
           
            <div class="page-login-field half-top half-bottom">
              <ion-checkbox slot="end"  [(ngModel)]="data.factura" name="factura"></ion-checkbox>              
              <ion-label>¿Requiere factura?</ion-label>
            </div>
            <div class="formSubmitButtonErrorsWrap contactFormButton">              
              <button type="button" class="button button-rounded button-pink button-50" (click)="close()">Regresar</button>
              <button type="submit" class="button button-rounded button-green button-50">Actualizar información</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</ion-content>