<div id="header" class="header-logo-app header-dark">
  <a href="javascript:void(0)" class="header-title back-button">Actualización de pago</a>
  <a href="javascript:void(0)" class="header-logo disabled"></a>
  <ion-back-button (click)="close()" icon="arrow-dropleft" text=""></ion-back-button>  
</div>  


<ion-content>
  <div class="content">
    <div class="full-top">&nbsp;</div>
    <div class="container heading-style">
    <i class="fa fa-envelope heading-icon color-night-dark font-17"></i>
        <h4 class="heading-title">Plataforma de pagos</h4>
        <p class="heading-subtitle">
          El servicio de cobranzas es mediante la plataforma OPENPAY. FacilIMSSimo no guarda ningún dato sensible de nuestros clientes
        </p>
  </div>
    <div class="container no-bottom">
      <div class="contact-form no-bottom">                        
        <form (ngSubmit)="contratar()">
            <div class="input-simple-1 has-icon input-green full-bottom">
              <strong>Requerido</strong>
              <em>Nombre</em>
              <i class="fa fa-user"></i>
              <ion-input type="text" [(ngModel)]="data.tarjeta_nombre" name="tarjeta_nombre" placeholder="Nombre como aparece en la tarjeta"></ion-input>
            </div> 
            <div class="input-simple-1 has-icon input-green full-bottom">
              <strong>Requerido</strong>
              <em>Número de Tarjeta</em>
              <i class="fas fa-file-medical"></i>
              <ion-input type="text" [(ngModel)]="data.tarjeta_numero" name="tarjeta_numero" placeholder="4242 4242 4242 4242" maxlength="19" (keypress)="maskString()"></ion-input>
            </div>
            <div class="input-simple-1 textarea has-icon full-bottom">
              <strong>Requerido</strong>
              <i class="fas fa-address-card"></i>
              <em>Fecha de vencimiento</em>
              <ion-datetime 
                  #FechaVencimiento
                  display-format="MM/YY" 
                  picker-format="MM/YY" 
                  done-text="Seleccionar" 
                  [(ngModel)]="data.tarjeta_vencimiento" 
                  name="tarjeta_vencimiento"
                  [yearValues]="yearValues">
              </ion-datetime>
            </div>
            <div class="input-simple-1 has-icon input-green full-bottom">
              <strong>Requerido</strong>
              <em>CVC</em>
              <i class="fas fa-mail-bulk"></i>
              <ion-input [(ngModel)]="data.tarjetacvc" name="tarjetacvc" type="number" placeholder="CVC"></ion-input>
            </div>
            <div class="page-login-field half-top half-bottom">
              <ion-checkbox [(ngModel)]="data.terminos" name="terminos" slot="end"></ion-checkbox>
              <ion-label>Acepto los términos y condiciones</ion-label>
            </div>
            <div class="formSubmitButtonErrorsWrap contactFormButton" style="white-space:nowrap;">              
              <button type="button" class="button button-rounded button-pink button-50" (click)="close()">Regresar</button>
              <button type="submit" class="button button-rounded button-green button-50">Actualizar</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</ion-content>