<div id="header" class="header-logo-app header-dark">
  <a href="javascript:void(0)" class="header-title back-button">Altas</a>
  <a href="javascript:void(0)" class="header-logo disabled"></a>
  <ion-back-button defaultHref="main" icon="arrow-dropleft" text=""></ion-back-button>
  <a href="javascript:void(0)" (click)="app.toggle()" class="header-icon header-icon-4 hamburger-animated no-border" data-deploy-menu="menu-1"><em class="hm1"></em><em class="hm2"></em><em class="hm3"></em></a>
</div>  


<ion-content>

      <div class="content">
        <div class="container heading-style">
          <i class="fa fa-envelope heading-icon color-night-dark font-17"></i>
            <h4 class="heading-title">Actualizar perfil</h4>
            <p class="heading-subtitle">
              Estos son tus datos de registros, si deseas actualizarlo pulsa el botón de actualizar
            </p>
        </div>
        <div class="container no-bottom">
          <div class="contact-form no-bottom">                        
            <form (ngSubmit)="register()">
                <div class="input-simple-1 has-icon input-green full-bottom">
                  <strong>Requerido</strong>
                  <em>Nombre Completo del Patrono</em>
                  <i class="fa fa-user"></i>
                  <input type="text" [(ngModel)]="data.nombre" name="nombre" placeholder="Nombre Completo del Patrono *">                  
                </div>      
                <div class="input-simple-1 has-icon input-green full-bottom">
                  <strong>Requerido</strong>
                  <em>Email</em>
                  <i class="fas fa-at"></i>
                  <input type="email" [(ngModel)]="data.email" name="email" placeholder="Email *">
                </div> 
                <div class="input-simple-1 has-icon input-green full-bottom">
                  <strong>Requerido</strong>
                  <em>Contraseña de usuario:</em>
                  <i class="fas fa-lock"></i>
                  <input type="password" [(ngModel)]="data.password" name="password" placeholder="Password *">                  
                </div> 
                <div class="input-simple-1 has-icon input-green full-bottom">
                  <strong>Requerido</strong>
                  <em>Domicilio:</em>
                  <i class="far fa-address-card"></i>
                  <input type="text" [(ngModel)]="data.domicilio" name="domicilio" placeholder="Domicilio">                  
                </div>
                <div class="input-simple-1 has-icon input-green full-bottom">
                  <strong>Requerido</strong>
                  <em>Código Postal:</em>
                  <i class="fas fa-envelope-open"></i>
                  <input type="text" [(ngModel)]="data.cp" name="cp" placeholder="Código Postal">                  
                </div>
                <div class="input-simple-1 has-icon input-green full-bottom">
                  <strong>Requerido</strong>
                  <em>CURP:</em>
                  <i class="fas fa-notes-medical"></i>
                  <input type="text" [(ngModel)]="data.curp" name="curp" placeholder="CURP *">                  
                </div>
                <div class="input-simple-1 has-icon input-green full-bottom">
                  <strong>Requerido</strong>
                  <em>¿Requiere factura?:</em>
                  <i class="fas fa-file-invoice"></i>
                  <ion-toggle [(ngModel)]="factura" name="factura" value="1">SI</ion-toggle>
                </div>
                <div class="input-simple-1 has-icon input-green full-bottom">
                  <strong>Requerido</strong>
                  <em>Nombre o razón Social:</em>
                  <i class="fas fa-clipboard"></i>
                  <input type="text" [(ngModel)]="data.razon_social" name="razon_social" placeholder="Nombre o razón Social *">                  
                </div>
                <div class="input-simple-1 has-icon input-green full-bottom">
                  <strong>Requerido</strong>
                  <em>Dirección Fiscal:</em>
                  <i class="fas fa-building"></i>
                  <input type="text" [(ngModel)]="data.direccion" name="direccion" placeholder="Dirección Fiscal">                  
                </div>
                <div class="input-simple-1 has-icon input-green full-bottom">
                  <strong>Requerido</strong>
                  <em>RFC:</em>
                  <i class="fas fa-address-book"></i>
                  <input type="text" [(ngModel)]="data.rfc" name="rfc" placeholder="RFC">                  
                </div>
                <button type="submit" class="button back-button button-green button-full button-rounded button-s uppercase ultrabold">ACTUALIZAR</button>
            </form>            
          </div>
        </div>
        
      </div>
</ion-content>