<div id="header" class="header-logo-app header-dark">
  <a href="javascript:void(0)" class="header-title back-button">Contratar</a>
  <a href="javascript:void(0)" class="header-logo disabled"></a>
  <ion-back-button defaultHref="main" icon="arrow-dropleft" text=""></ion-back-button>
  <a href="javascript:void(0)" (click)="app.toggle()" class="header-icon header-icon-4 hamburger-animated no-border" data-deploy-menu="menu-1"><em class="hm1"></em><em class="hm2"></em><em class="hm3"></em></a>
</div>  


<ion-content>

      <div class="content">
        <div class="container heading-style">
          <i class="fa fa-envelope heading-icon color-night-dark font-17"></i>
              <h4 class="heading-title">Plataforma de pagos</h4>
              <p class="heading-subtitle">
                El servicio de cobranzas es mediante la plataforma OPENPAY. FacilIMSSimo no guarda ningún dato sensible de nuestros clientes
              </p>
        </div>
        <div class="container no-bottom">
          <div class="contact-form no-bottom">                        
            <form (ngSubmit)="contratar()">
                <div class="input-simple-1 has-icon input-green full-bottom">
                  <strong>Requerido</strong>
                  <em>Nombre</em>
                  <i class="fa fa-user"></i>
                  <ion-input type="text" [(ngModel)]="altas.data.tarjeta_nombre" name="tarjeta_nombre" placeholder="Roberto Sánchez Rodríguez"></ion-input>
                </div> 
                <div class="input-simple-1 has-icon input-green full-bottom">
                  <strong>Requerido</strong>
                  <em>Número de Tarjeta</em>
                  <i class="fas fa-credit-card"></i>
                  <ion-input type="text" [(ngModel)]="altas.data.tarjeta_numero" name="tarjeta_numero" placeholder="4242 4242 4242 4242" maxlength="19" (keypress)="maskString()"></ion-input>
                </div>
                <div class="input-simple-1 textarea has-icon full-bottom">
                  <strong>Requerido</strong>
                  <i class="fas fa-calendar"></i>
                  <em>Fecha de vencimiento</em>
                  <ion-datetime 
                      #FechaVencimiento
                      display-format="MM/YY" 
                      picker-format="MM/YY" 
                      done-text="Seleccionar" 
                      [(ngModel)]="altas.data.tarjeta_vencimiento" 
                      name="tarjeta_vencimiento"
                      [yearValues]="yearValues">
                  </ion-datetime>
                </div>
                <div class="input-simple-1 has-icon input-green full-bottom">
                  <strong>Requerido</strong>
                  <em>CVC</em>
                  <i class="fas fa-user-secret"></i>
                  <ion-input [(ngModel)]="altas.data.tarjetacvc" name="tarjetacvc" type="number" placeholder="123" max-length="3"></ion-input>
                </div>
                <div class="page-login-field half-top half-bottom">
                  <ion-checkbox [(ngModel)]="altas.data.terminos" name="terminos" slot="end"></ion-checkbox>
                  <ion-label (click)="showTermino(1)">Acepto los términos y condiciones</ion-label>
                </div>
                <div class="formSubmitButtonErrorsWrap contactFormButton"  style="white-space: nowrap;">
                  <button type="button" class="button button-rounded button-pink button-50" (click)="router.navigateByUrl('cotizar')">Regresar</button>
                  <button *ngIf="stateButton=='CONTRATAR'" type="submit" class="button button-rounded button-green button-50">{{stateButton}}</button>
                </div>
            </form>
          </div>
        </div>
        
      </div>
</ion-content>