<div id="header" class="header-logo-app header-dark">
  <a href="javascript:void(0)" class="header-title back-button">Estado de cuenta</a>
  <a href="javascript:void(0)" class="header-logo disabled"></a>
  <ion-back-button defaultHref="main" icon="arrow-dropleft" text=""></ion-back-button>
  <a href="javascript:void(0)" (click)="app.toggle()" class="header-icon header-icon-4 hamburger-animated no-border" data-deploy-menu="menu-1"><em class="hm1"></em><em class="hm2"></em><em class="hm3"></em></a>
</div>  


<ion-content>      
      <div class="full-top">&nbsp;</div>
        <div id="page-vcard" class="content content-boxed content-boxed-padding">
          <div class="">            
            <h2 class="bold large-text color-black center-text">Pagos totales</h2>
            <h1 style="text-align: right">${{total}}MXN</h1>
          </div>
        </div>

        <div *ngFor="let i of transacciones" id="page-vcard" class="content content-boxed content-boxed-padding">
            <h1 class="vcard-title color-blue-dark"><i class="fa {{i.status=='0'?'fa-times color-red-dark':'fa-check'}}"></i> {{i.nombre}} {{i.apellido}} <i *ngIf="i.status=='1'" class="fa fa-file-download color-green-dark" style="position: absolute;right: 20px;"></i></h1>
            <div class="vcard-field"><strong>Forma de pago</strong> <a href="javascript:void(0)">{{i.tipo=='1'?'TDC':'Efectivo'}}</a></div>            
            <div *ngIf="i.tipo=='2'" class="vcard-field"><strong>Referencia</strong> <a href="https://sandbox-dashboard.openpay.mx/paynet-pdf/mltapjuipjzmv3fjlz4y/{{i.referencia}}">{{i.referencia}} <i class="fa fa-file" style="top:10px"></i> </a></div>
            <div class="vcard-field"><strong>Fecha de cobro</strong> <a href="javascript:void(0)">{{i.fecha_transaccion}}</a></div>
            <div class="vcard-field"><strong>Cantidad</strong> <a href="javascript:void(0)">${{i.importe}}MXN</a></div>
            <div class="vcard-field"><strong>Días trabajados</strong> <a href="javascript:void(0)">{{i.dias_trabajados}}</a></div>
            <div class="vcard-field"><strong>Periodo</strong> <a href="javascript:void(0)">{{i.periodoFormat}}</a></div>
            <div class="vcard-field"><strong>Resultado de la transacción</strong> <a href="javascript:void(0)">{{i.resultado}}</a></div>
            <div class="vcard-field no-border">
              <button *ngIf="i.status=='0' && i.tipo=='1'" class="button button-full button-rounded button-pink button-50" (click)="repay(i)">Pagar</button>
              <a  *ngIf="i.status=='0' && i.tipo=='2'" class="button button-full button-rounded button-pink button-50" href="https://sandbox-dashboard.openpay.mx/paynet-pdf/mltapjuipjzmv3fjlz4y/{{i.referencia}}" style="color:#fff">Pagar</a>
              <button *ngIf="i.status=='1'" class="button button-full button-rounded button-green button-50">Descargar factura</button>
            </div>
        </div>
</ion-content>
