<div id="header" class="header-logo-app header-dark">
  <a href="javascript:void(0)" class="header-title back-button">Cotizar</a>
  <a href="javascript:void(0)" class="header-logo disabled"></a>
  <ion-back-button defaultHref="main" icon="arrow-dropleft" text=""></ion-back-button>
  <a href="javascript:void(0)" (click)="app.toggle()" class="header-icon header-icon-4 hamburger-animated no-border" data-deploy-menu="menu-1"><em class="hm1"></em><em class="hm2"></em><em class="hm3"></em></a>
</div>  


<ion-content>

      <div class="content">
        <div class="container heading-style">
          <i class="fa fa-envelope heading-icon color-night-dark font-17"></i>
            <h4 class="heading-title">Elige una de las opciones</h4>
            <p class="heading-subtitle" style="margin: 0;width: 100% !important;display: block;">
                Puedes visualizar las especificaciones pulsando en <i class="fas fa-info-circle" style="font-size:12px !important; position: initial;display: inline-block;width: auto;height: auto;margin-left: 0;margin-right: 0;"></i>
            </p>
        </div>
        <div class="container no-bottom">
          <div class="contact-form no-bottom">                        
            


            <ion-list>
              <ion-radio-group>
                <ion-list-header>
                  <ion-label>Elige una opción</ion-label>
                </ion-list-header>

                  <div  *ngFor="let i of planes" style="position:relative">
                <ion-item>
                  <ion-label>{{i.nombre}} - ${{i.precio}}MXN </ion-label>
                  <ion-radio slot="start" (ionSelect)="selPlan(i)"></ion-radio>                              
                </ion-item>
                  <i class="fas fa-info-circle" (click)="preview(i)" style="position: absolute;right: 0px;top: 17px; z-index:10000;"></i>
                  </div>
                

                
              </ion-radio-group>
            </ion-list>

            <div class="content-boxed content-boxed-padding">
              <div class="above-overlay">
              <h4 class="uppercase ultrabold small-top color-white">
                  Costo mensual
              </h4>
              <h3 class="half-bottom color-white right-text">
                ${{importe}} MXN
              </h3>
              </div>
              <div class="overlay bg-black opacity-90"></div>
            </div>

            <div class="formSubmitButtonErrorsWrap contactFormButton"  style="white-space: nowrap;">
              <button type="button" class="button button-rounded button-pink button-50" (click)="router.navigateByUrl('altas')">Regresar</button>
              <button type="button" class="button button-rounded button-green button-50" (click)="contratar()">Cotizar</button>
            </div>
          </div>
        </div>
        
      </div>
</ion-content>