<div id="header" class="header-logo-app header-dark">
  <a href="javascript:void(0)" class="header-title back-button">FacilIMSSimo</a>
  <a href="javascript:void(0)" class="header-logo disabled"></a>
  <!--<ion-back-button defaultHref="main" icon="arrow-dropleft" text=""></ion-back-button>-->
  <a href="javascript:void(0)" (click)="app.toggle()" class="header-icon header-icon-4 hamburger-animated no-border" data-deploy-menu="menu-1"><em class="hm1"></em><em class="hm2"></em><em class="hm3"></em></a>
</div>  


<ion-content>  
  <div class="full-top">&nbsp;</div>
  <div class="content content-boxed content-boxed-padding full-top">
    <div class="icon-column" (click)="alta()">
      <i class="fa-fw select-all fas color-green-dark quarter-top"></i>      
      <h1 class="uppercase ultrabold color-black">Altas</h1>
      <p class='no-bottom'>
        Aquí es donde podrás dar de alta en el seguro social a los colaboradores que no están registrados.
      </p>
    </div>
  </div>
  <div class="content content-boxed content-boxed-padding">
    <div class="icon-column" (click)="router.navigateByUrl('bajas')">
      <i class="fa-fw select-all fas color-red-dark quarter-top"></i>
      <h1 class="uppercase ultrabold color-black">Bajas</h1>
      <p class='no-bottom'>
        Aquí es donde podrás dar de baja del seguro social a los colaboradores que se encuentran registrados actualmente.
      </p>
    </div>
  </div>
  <div class="content content-boxed content-boxed-padding">
    <div class="icon-column" (click)="router.navigateByUrl('estado_cuenta')">
      <i class="fa fa-file-invoice-dollar color-blue-dark quarter-top"></i>      
      <h1 class="uppercase ultrabold color-black">Estado de cuenta</h1>
      <p class='no-bottom'>
        Consulta los pagos que se han realizado sobre este servicio
      </p>
    </div>
  </div>
  <div class="content content-boxed content-boxed-padding">
    <div class="icon-column" (click)="router.navigateByUrl('terminos')">
      <i class="fa-fw select-all fas color-orange-light quarter-top"></i>
      <h1 class="uppercase ultrabold color-black">Términos y condiciones</h1>
      <p class='no-bottom'>
        Aquí es donde podrás revisar las condiciones y términos de nuestros servicios
      </p>
    </div>
  </div>
</ion-content>