<div id="header" class="header-logo-app header-dark">
  <a href="javascript:void(0)" class="header-title back-button">Términos y condiciones</a>
  <a href="javascript:void(0)" class="header-logo disabled"></a>
  <ion-back-button defaultHref="main" icon="arrow-dropleft" text=""></ion-back-button>
  <a href="javascript:void(0)" (click)="app.toggle()" class="header-icon header-icon-4 hamburger-animated no-border" data-deploy-menu="menu-1"><em class="hm1"></em><em class="hm2"></em><em class="hm3"></em></a>
</div>  


<ion-content>

      <div class="content-strip half-bottom">
        <div class="above-overlay">
          <h1 class="color-white center-text uppercase ultrabold full-top fa-2x small-bottom">Acuerdos y contratos</h1>
          <p class="center-text color-white opacity-70 boxed-text full-bottom">
            Aquí encontrarás las cláusulas y los acuerdos de nuestros servicios
          </p>
        </div>
        <div class="content-strip-arrow">
          <i class="fa fa-angle-down color-wh"></i>
          <i class="fa fa-angle-down"></i>
          <i class="fa fa-angle-down"></i>
        </div>
        <div class="overlay bg-black opacity-80"></div>
        <div class="content-strip-bg preload-image" style="background:url(assets/images/pictures/8t.jpg)"></div>
      </div>
                    
      <div class="content">
        <ul class="link-list">    
          
          <li *ngFor="let i of parametros">
            <a href="javascript:void(0)" (click)="showTermino(i)">
              <i class="fa fa-angle-right"></i>
              <i class="font-14 fas fa-file-contract color-gray-dark"></i>
              <span>{{i.nombre}}</span>
            </a>
          </li>

        </ul>
      </div>
</ion-content>