<ion-app>
  <ion-split-pane>
<!-- Menu List Full -->
<div id="menu-10" class="menu-wrapper menu-modal-fade menu-dark menu-list {{menuShow}}" [ngStyle]="{display:menuShow==''?'none':'block'}">
  <div class="menu-scroll">
    <div class="cover-content cover-content-center">
      <a href="javascript:void(0)" (click)="go('main')" class="menu-list-logo"></a>
      <span>The Ultimate Mobile Solution</span>
      <div class="menu-list-items">        
          <a class="center-text close-menu" href="javascript:void(0)" (click)="closeSession()">Cerrar sesión</a>
          <a href="javascript:void(0)" (click)="toggle()" class="center-text close-menu color-red-light ultrabold uppercase font-14">Regresar</a>
      </div>
      <!--<div class="menu-list-socials">
        <a href="#"><i class="font-15 fab fa-facebook"></i></a>
        <a href="#"><i class="font-15 fa fa-google-plus"></i></a>
        <a href="#"><i class="font-15 fa fa-twitter"></i></a>
      </div>-->
    </div>
  </div>
</div>

<!--Menu Perspective Background-->
<div class="menu-perspective-background"></div>
<ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>