<div id="header" class="header-logo-app header-dark">
  <a href="javascript:void(0)" class="header-title back-button">Altas</a>
  <a href="javascript:void(0)" class="header-logo disabled"></a>
  <ion-back-button defaultHref="main" icon="arrow-dropleft" text=""></ion-back-button>
  <a href="javascript:void(0)" (click)="app.toggle()" class="header-icon header-icon-4 hamburger-animated no-border" data-deploy-menu="menu-1"><em class="hm1"></em><em class="hm2"></em><em class="hm3"></em></a>
</div>  


<ion-content>

      <div class="content">
        <div class="container heading-style">
          <i class="fa fa-envelope heading-icon color-night-dark font-17"></i>
                <h4 class="heading-title">Nuevo empleado</h4>
                <p class="heading-subtitle">
                  Por favor ingresa los datos del nuevo empleado
                </p>
        </div>
        <div class="container no-bottom">
          <div class="contact-form no-bottom">                        
            <div class="input-simple-1 has-icon input-green full-bottom">
              <strong>Requerido</strong>
              <em>Nombre</em>
              <i class="fa fa-user"></i>
              <ion-input type="text" [(ngModel)]="altas.data.nombre" name="nombre" placeholder="Sofía"></ion-input>
            </div> 
            <div class="input-simple-1 has-icon input-green full-bottom">
              <strong>Requerido</strong>
              <em>Apellido</em>
              <i class="fas fa-friends"></i>
              <ion-input type="text" [(ngModel)]="altas.data.apellido" name="apellido" placeholder="García"></ion-input>
            </div>
            <div class="input-simple-1 has-icon input-green full-bottom">              
              <em>Apellido materno</em>
              <i class="fas fa-friends"></i>
              <ion-input type="text" [(ngModel)]="altas.data.apellido2" name="apellido2" placeholder="Gómez"></ion-input>
            </div>
            <div class="input-simple-1 has-icon input-green full-bottom">              
              <em>Correo electrónico</em>
              <i class="fas fa-envelope"></i>
              <ion-input type="text" [(ngModel)]="altas.data.email" name="email" placeholder="sofia@hosting.com"></ion-input>
            </div>
            <div class="input-simple-1 has-icon input-green full-bottom"> 
              <strong>Requerido</strong>
              <em>Fecha de nacimiento</em>
              <i class="fas fa-birthday-cake"></i>
              <ion-datetime 
                  #FechaNacimiento
                  display-format="DD/MM/YYYY" 
                  picker-format="DD/MM/YYYY" 
                  done-text="Seleccionar" 
                  [(ngModel)]="altas.data.fecha_nacimiento" 
                  name="fecha_nacimiento"
                  placeholder="24/02/1982">
              </ion-datetime>
            </div> 
            <div class="input-simple-1 has-icon input-green full-bottom">
              <strong>Requerido</strong>
              <em>Lugar de nacimiento</em>
              <i class="fas fa-map-marked"></i>
              <ion-select value="" okText="Elegir" cancelText="Cancelar" [(ngModel)]="altas.data.estado_nacimiento" name="estado_nacimiento" data-placeholder="Estado donde nacio el trabajador">
                <ion-select-option value="" selected="selected">Seleccione una opción</ion-select-option>
                  <ion-select-option value="AGUASCALIENTES">AGUASCALIENTES </ion-select-option>
                  <ion-select-option value="BAJA CALIFORNIA">BAJA CALIFORNIA </ion-select-option>
                  <ion-select-option value="BAJA CALIFORNIA SUR">BAJA CALIFORNIA SUR </ion-select-option>
                  <ion-select-option value="CAMPECHE">CAMPECHE </ion-select-option>
                  <ion-select-option value="CHIAPAS">CHIAPAS </ion-select-option>
                  <ion-select-option value="CHIHUAHUA">CHIHUAHUA </ion-select-option>
                  <ion-select-option value="COAHUILA">COAHUILA </ion-select-option>
                  <ion-select-option value="COLIMA">COLIMA </ion-select-option>
                  <ion-select-option value="DISTRITO FEDERAL">DISTRITO FEDERAL </ion-select-option>
                  <ion-select-option value="DURANGO">DURANGO </ion-select-option>
                  <ion-select-option value="GUANAJUATO">GUANAJUATO </ion-select-option>
                  <ion-select-option value="GUERRERO">GUERRERO </ion-select-option>
                  <ion-select-option value="HIDALGO">HIDALGO </ion-select-option>
                  <ion-select-option value="JALISCO">JALISCO </ion-select-option>
                  <ion-select-option value="MEXICO">MEXICO </ion-select-option>
                  <ion-select-option value="MICHOACAN">MICHOACAN </ion-select-option>
                  <ion-select-option value="MORELOS">MORELOS </ion-select-option>
                  <ion-select-option value="NAYARIT">NAYARIT </ion-select-option>
                  <ion-select-option value="NUEVO LEON">NUEVO LEON </ion-select-option>
                  <ion-select-option value="OAXACA">OAXACA </ion-select-option>
                  <ion-select-option value="PUEBLA">PUEBLA </ion-select-option>
                  <ion-select-option value="QUERETARO">QUERETARO </ion-select-option>
                  <ion-select-option value="QUINTANA ROO">QUINTANA ROO </ion-select-option>
                  <ion-select-option value="SAN LUIS POTOSI">SAN LUIS POTOSI </ion-select-option>
                  <ion-select-option value="SINALOA">SINALOA </ion-select-option>
                  <ion-select-option value="SONORA">SONORA </ion-select-option>
                  <ion-select-option value="TABASCO">TABASCO </ion-select-option>
                  <ion-select-option value="TAMAULIPAS">TAMAULIPAS </ion-select-option>
                  <ion-select-option value="TLAXCALA">TLAXCALA </ion-select-option>
                  <ion-select-option value="VERACRUZ">VERACRUZ </ion-select-option>
                  <ion-select-option value="YUCATÁN">YUCATÁN </ion-select-option>
                  <ion-select-option value="ZACATECAS">ZACATECAS </ion-select-option>
              </ion-select>
            </div> 
            <div class="input-simple-1 has-icon input-green full-bottom">
              <strong>Requerido</strong>
              <em>Sexo</em>
              <i class="fas fa-venue-mars"></i>
              <ion-select value="" okText="Elegir" cancelText="Cancelar" [(ngModel)]="altas.data.sexo" name="sexo" data-placeholder="Sexo del trabajador">
                <ion-select-option value="" selected="selected">Seleccione una opción</ion-select-option>
                  <ion-select-option value="M">Masculino </ion-select-option>
                  <ion-select-option value="F">Femenino </ion-select-option>                  
              </ion-select>
            </div>              
            <div class="input-simple-1 textarea has-icon full-bottom">
              <strong>Requerido</strong>
              <i class="fas fa-home"></i>
              <em>Domicilio del trabajador</em>
              <ion-textarea class="textarea-simple-1" [(ngModel)]="altas.data.domicilio" name="domicilio" placeholder="Calle y Número"></ion-textarea>
            </div>
            <div class="input-simple-1 has-icon input-green full-bottom">
              <strong>Requerido</strong>
              <em>Código postal</em>
              <i class="fas fa-mail-bulk"></i>
              <ion-input type="text" [(ngModel)]="altas.data.codigo_postal" name="codigo_postal" placeholder="05120"></ion-input>
            </div>            
            <div class="input-simple-1 has-icon input-green full-bottom">
              <strong>Requerido</strong>
              <em>CURP <span (click)="getCURP()" style="color:#4a89dc;text-decoration: underline;">(Generar CURP aquí)</span></em>
              <i class="far fa-id-card"></i>
              <ion-input type="text" [(ngModel)]="altas.data.curp" name="curp" placeholder="GAMM800215MDFRTM9Y09"></ion-input>
            </div>
            <div class="input-simple-1 has-icon input-green full-bottom">
              <strong>Requerido</strong>
              <em>Número de Seguridad Social <span (click)="getNSS()" style="color:#4a89dc;text-decoration: underline;">(Consultar aquí)</span></em>
              <i class="fas fa-file-medical"></i>
              <ion-input type="text" [(ngModel)]="altas.data.nro_seg_social" name="nro_seg_social" placeholder="03-67-49-2222-0" (blur)="event.publish('updateScreen')"></ion-input>
            </div>
            <div class="input-simple-1 has-icon input-green full-bottom">
              <strong>Requerido</strong>
              <em>Salario Base por día</em>
              <i class="fas fa-money-check-alt"></i>
              <ion-input type="number" [(ngModel)]="altas.data.salario_base_diario" name="salario_base_diario" placeholder="$300 MXN"></ion-input>
            </div>
            <div class="input-simple-1 has-icon input-green full-bottom">
              <strong>Requerido</strong>
              <em>Cant. Días Laborables</em>
              <i class="far fa-calendar-check"></i>
              <ion-input type="number" [(ngModel)]="altas.data.cant_dias_trabajados" name="cant_dias_trabajados" placeholder="1-31"></ion-input>
            </div>              
            <div class="formSubmitButtonErrorsWrap contactFormButton" style="white-space: nowrap;">
              <button type="button" class="button button-rounded button-pink button-50" (click)="router.navigateByUrl('main')">Regresar</button>
              <button type="button" class="button button-rounded button-green button-50" (click)="router.navigateByUrl('cotizar')">Cotizar</button>
            </div>
          </div>
        </div>
        
      </div>
</ion-content>