<ion-content>
    <div class="cover-content cover-content-center">
      <div class="page-login content-boxed content-boxed-padding no-top no-bottom">
        <img class="preload-image login-bg responsive-image no-bottom" src="assets/images/pictures/9w.jpg" data-src="assets/images/pictures/9w.jpg" alt="img">
        <img class="preload-image login-image" src="assets/images/pictures/0s.png" data-src="assets/images/pictures/0s.png" alt="img">
        <h3 class="uppercase ultrabold full-top no-bottom color-black">ENTRAR</h3>
        <p class="smaller-text half-bottom">Hola, introduce tus datos de registro para entrar</p>
        <form (ngSubmit)="login()">
            <div class="page-login-field half-top">
              <i class="fa fa-user color-black"></i>
              <input type="email" [(ngModel)]="data.email" name="email" placeholder="Email">
              <em>(required)</em>
            </div>      
            <div class="page-login-field half-bottom">
              <i class="fa fa-lock color-black"></i>
              <input type="password" [(ngModel)]="data.password" name="password" placeholder="Contraseña">
              <em>(required)</em>
            </div>
            <div class="page-login-links small-bottom">
              <a class="forgot float-right" href="javascript:void(0)" (click)="router.navigateByUrl('registro')"><i class="fa fa-user float-right"></i>Crear Cuenta</a>
              <a class="create float-left" href="javascript:void(0)" (click)="router.navigateByUrl('recover')"><i class="fa fa-eye"></i>Recordar contraseña</a>
              <div class="clear"></div>
            </div>
            <button type="submit" class="button back-button button-green button-full button-rounded button-s uppercase ultrabold">ENTRAR</button>
        </form>

      </div>    
    </div>
    <div class="cover-infinite-background"></div>
    <div class="cover-overlay overlay bg-black opacity-80"></div>
</ion-content>
