<div id="header" class="header-logo-app header-dark">
  <a href="javascript:void(0)" class="header-title back-button">Bajas</a>
  <a href="javascript:void(0)" class="header-logo disabled"></a>
  <ion-back-button defaultHref="main" icon="arrow-dropleft" text=""></ion-back-button>
  <a href="javascript:void(0)" (click)="app.toggle()" class="header-icon header-icon-4 hamburger-animated no-border" data-deploy-menu="menu-1"><em class="hm1"></em><em class="hm2"></em><em class="hm3"></em></a>
</div>  

<ion-content>
      <div class="full-top">&nbsp;</div>
      <div class="content full-top">
                
        <h3 class="uppercase center-text ultrabold">
          Empleados
        </h3>
        <p class="boxed-text-large full-bottom">
          Aquí encontrarás un listado de los empleados que están inscritos a nuestros servicios
        </p>
        
        
        <div class="container search-input-container search-input-square search-input-large search-input-transparent">
          <div class="search-boxes">
            <div class="search">
              <i class="fa fa-search"></i>
              <input type="text" [(ngModel)]="filtro" name="filtro" placeholder="Buscar empleado" class="box-shadow" (keypress)="filterItems()">
            </div>
          </div>
        </div>



          <div class="full-bottom">

          
            
          <div class="faq" *ngFor="let i of empleados; let x = index">
            <h6 class="faq-question pointer" (click)="toggle(x)">
              <i class="fa fa-user"></i> {{i.nombre}} {{i.apellido}} <i class="fa fa-trash" style="right: 10px;left: auto;font-size: 18px;"></i>
            </h6>
            <div *ngIf="activeM==x" class="faq-answer" style="display: block;">                
                <div class="formFieldWrap">
                  <label class="field-title contactEmailField" for="contactEmailField">Asistencia {{data.asistencia}}:<span></span>
                  </label>
                  <div class="estrellas">
                    <ion-icon [name]="data.asistencia>=1?'star':'star-outline'" (click)="data.asistencia = 1"></ion-icon>
                    <ion-icon [name]="data.asistencia>=2?'star':'star-outline'" (click)="data.asistencia = 2"></ion-icon>
                    <ion-icon [name]="data.asistencia>=3?'star':'star-outline'" (click)="data.asistencia = 3"></ion-icon>
                    <ion-icon [name]="data.asistencia>=4?'star':'star-outline'" (click)="data.asistencia = 4"></ion-icon>
                    <ion-icon [name]="data.asistencia>=5?'star':'star-outline'" (click)="data.asistencia = 5"></ion-icon>
                  </div>
                </div>
                <div class="formFieldWrap">
                  <label class="field-title contactEmailField" for="contactEmailField">Puntualidad {{data.puntualidad}}:<span></span>
                  </label>
                  <div class="estrellas">
                    <ion-icon [name]="data.puntualidad>=1?'star':'star-outline'" (click)="data.puntualidad = 1"></ion-icon>
                    <ion-icon [name]="data.puntualidad>=2?'star':'star-outline'" (click)="data.puntualidad = 2"></ion-icon>
                    <ion-icon [name]="data.puntualidad>=3?'star':'star-outline'" (click)="data.puntualidad = 3"></ion-icon>
                    <ion-icon [name]="data.puntualidad>=4?'star':'star-outline'" (click)="data.puntualidad = 4"></ion-icon>
                    <ion-icon [name]="data.puntualidad>=5?'star':'star-outline'" (click)="data.puntualidad = 5"></ion-icon>
                  </div>
                </div>
                <div class="formFieldWrap">
                  <label class="field-title contactEmailField" for="contactEmailField">Limpieza {{data.limpieza}}:<span></span>
                  </label>
                  <div class="estrellas">
                    <ion-icon [name]="data.limpieza>=1?'star':'star-outline'" (click)="data.limpieza = 1"></ion-icon>
                    <ion-icon [name]="data.limpieza>=2?'star':'star-outline'" (click)="data.limpieza = 2"></ion-icon>
                    <ion-icon [name]="data.limpieza>=3?'star':'star-outline'" (click)="data.limpieza = 3"></ion-icon>
                    <ion-icon [name]="data.limpieza>=4?'star':'star-outline'" (click)="data.limpieza = 4"></ion-icon>
                    <ion-icon [name]="data.limpieza>=5?'star':'star-outline'" (click)="data.limpieza = 5"></ion-icon>
                  </div>
                </div>
                <div class="formFieldWrap">
                  <label class="field-title contactEmailField" for="contactEmailField">Desempeño {{data.desempeno}}:<span></span>
                  </label>
                  <div class="estrellas">
                      <ion-icon [name]="data.desempeno>=1?'star':'star-outline'" (click)="data.desempeno = 1"></ion-icon>
                      <ion-icon [name]="data.desempeno>=2?'star':'star-outline'" (click)="data.desempeno = 2"></ion-icon>
                      <ion-icon [name]="data.desempeno>=3?'star':'star-outline'" (click)="data.desempeno = 3"></ion-icon>
                      <ion-icon [name]="data.desempeno>=4?'star':'star-outline'" (click)="data.desempeno = 4"></ion-icon>
                      <ion-icon [name]="data.desempeno>=5?'star':'star-outline'" (click)="data.desempeno = 5"></ion-icon>
                  </div>
                </div>

                <div class="formSubmitButtonErrorsWrap contactFormButton">
                  <button class="button button-rounded button-pink button-full" (click)="bajar()">Dar de baja</button>
                </div>
            </div>          
          </div>            


        </div>
        
      </div>
</ion-content>
